.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}
.portfolio-1 {
  display: flex;
  align-items: center;
  border: 5px solid var(--orangeCard);
  margin-right: 1rem;
  flex-direction: column;
  border-radius: 5px;
  width: 22rem;
}
.portfolio-1mg {
  width: 22rem;
  border-radius: 5px;
}
.portfolio-name {
  width: 22rem;
  border-radius: 5px;
  height: 210px;
}
.portfolio-2mg {
  width: 50px;
  margin: 5px;
}
.portfolio-heading {
  color: var(--orange);
  font-weight: bold !important;
  font-size: 30px !important;
}
.portfolio-2 {
  width: 22rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio-des {
  margin: 6px;
  color: var(--gray);
}
.portfolio-stack {
  color: var(--orange);

  font-size: 25px !important;
}
.portfolio-sta {
  color: var(--gray);
}
.recent-projects {
  margin-bottom: 50px;
}
